/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8.3.2016, 0:50:48
    Author     : nadiira
*/
body{
    width:100%;
    height:auto;
}
#cont{
    display:block;
    width:50%;
    height: auto;
}